body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(#1e3c72, #2a5298, #252525);
}

 .botoes {
      display: flex;
      gap: 20px; /* Espaço entre os botões */
    }

    button {
      padding: 12px 24px;
      font-size: 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s ease;
    }

    button:hover {
      background-color: #45a049;
      transform: scale(1.05);
    }

    button:active {
      transform: scale(0.98);
    }
h1{
    text-align: center;
    display: flex;
    color: #f0f0f0;
}
p{
    text-align: center;
    display: flex;
    color: #f0f0f0;
}
